body {
background-image: url(imag8.png);
background-size: cover;
background-attachment: fixed;
text-align: center;
}

header h1{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    text-transform: uppercase;
    text-shadow: 10px 5px #361e1e;
    letter-spacing: 3px;
    text-align: center;
    margin: 80px auto 0 auto;

}

header h3{

    color: rgb(7, 5, 5);
    background-color: #cc6767;
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    border-radius: 50px;
    margin-top: 70px;
    border: 6px solid white;
   font-family:cursive
}

header{
    text-align: center;
}

section{
    background-color: #cc6767 rgba(0, 0, 0, 0.5);
    display: inline-block;

}

article{

    display: inline-block;
    
    display: flex;
    margin-top: 100px;
    height: 1000px;
    width: 1000px;
    flex-direction: column;



}

label{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 25px;
    margin-top: 15px;
    font-family: cursive;
    border-radius: 10px;

    
}

label[for="resultado"] {
    margin-top: 120px;
    padding: 20px;
    
}

#mensagem {
    height: 300px;
    width: 700px;
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 20px;
    padding: 40px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-family: cursive;
    box-sizing: border-box;
    resize: none;
    text-align: left;
    white-space: pre-wrap;
    overflow: hidden;

}


#resultado {
    width: 700px;
    height: 200px;
    resize: none;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 20px;
    font-family: cursive;
    border-radius: 10px;
  }

button{
    display: flex;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 50px;
    font-size: 17px;
    font-family: cursive;
    background-color: #cc6767;
    color: white;

}

button:hover{
    background-color: white;
    color: #cc6767;
    cursor: pointer;
}




  footer{
    color: #cc6767;
    margin-top: 100px;
  }